<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uncas.EBS.DAL.Properties.Settings.EBSConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=hibes_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>